@import "/styles-utils/variables.scss";

.eventForm {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  padding: 20px;
  border-radius: 6px;
  background-color: $color-event-form-background;
  border: 1px solid $color-event-form-border;

  & > input {
    margin:  15px 0;
  }
  & > button {
    margin-top: 20px;
  }
}
.headerText {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}
