@import "/styles-utils/variables.scss";

@mixin textField {
  box-sizing: border-box;
  border-radius: 6px;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  min-width: 100px;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: $font-text-field-primary-color;
  background-color: $color-text-field-background;
  &::placeholder {
    color: $font-text-field-plaseholder-color;
  }

  &:hover {
    cursor: text;
    border-color: $color-text-field-border-hover;
  }

  &:focus {
    outline: none;
    border-color: $color-text-field-border-focus;
    background-color: $color-text-field-background-focus;

    &::placeholder {
      color: transparent;
    }
  }
}

// Взял приблеженные брекпоинты
@mixin for-desktop-L {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-tablet-M {
  @media (min-width: 481px) and (max-width: 1199px) {
    @content;
  }
}
@mixin for-mobile-S {
  @media (max-width: 480px) {
    @content;
  }
}
