@import "/styles-utils/variables.scss";

@mixin textField {
  box-sizing: border-box;
  border-radius: $border-radius;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  width: 282px;
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  color: $font-primary-color;
  background-color: $color-secondary-hover;
  &::placeholder {
    color: $font-secondary-color;
  }

  &:hover {
    cursor: text;
    border-color: $color-light-primary;
  }

  &:focus {
    outline: none;
    border-color: $color-primary;
    background-color: white;

    &::placeholder {
      color: transparent;
    }
  }
}
