$color-light-primary: #7FBFFE;

$color-primary: #2b96f1;
$color-primary-hover: #138aef;
$color-primary-active: #0f85e9;

$color-secondary: rgba(0, 0, 0, 0);
$color-secondary-hover: #fafafa;
$color-secondary-active: #f5f5f5;

$font-buttom-primary-color: #fff;
$font-buttom-secondary-color: #828282;

$font-primary-color: #191919;
$font-secondary-color: #AAAAAA;

$border-radius: 6px;

$color-cell-today: #4CA6FE;
$font-cell-primary-color: #828282;
$font-cell-today-color: #fff;
$font-cell-holiday-color: #5CB85C;
$font-cell-past-color:  #CCCCCC;;


$font-event: #FF7733;
$font-event-hover: #fff;
$color-event-backgroud: rgba(242, 107, 81, 0.12);
$color-event-backgroud-hover: #F26B51;

